@font-face {
  font-family: 'Roboto-slab';
  src: url('../assets/fonts/robotoSlab/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Open-sans';
  src: url('../assets/fonts/openSans/OpenSans-VariableFont_wdth,wght.ttf');
}

$metropolia-orange: #ff5000;
$metropolia-grey: #53565a;
$white: #fff;
$black: #000;

$yle-blue: #00b4c8;
$yle-grey: #262a2e;

$hsl-blue: #197bb9;

$lunch-green: #4eab39;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
