@use 'base.scss';

.metropoliaLogo{
    width: 70%;
}

.body-container{
  margin:auto;
  justify-content: center;
}

.campus-heading{

    color: base.$metropolia-orange;
    order: 1;
    font-size: 4em;


}
