@use 'base.scss';

.hsl-background {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/transportationPattern.jpeg);
  filter: brightness(0.95);
  background-size: 50em;
  position: absolute;
  z-index: -1;
}

.hsl-heading {
  margin: 2rem 0;
  font-size: 2em;
  color: #ffffff;
  background-color: #2c82bb;
  padding: 0.5rem 1rem;
}
.shortHand{
  background-color: #2c82bb;
  color: white;
  border-radius: 0.5em;
  padding: 0.3em 0.3em 0.1em 0.3em;
}
.hsl-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.map-container {
  width: 90%;
  height: 19rem;
  position: relative;
  border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapboxgl-canvas-container > :nth-child(2) {
  background-image: url('../assets/images/icons8-bus-stop-50.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-canvas-container > :nth-child(2) > svg {
  display: none;
}

.hsl-card-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1em;

  .hsl-stop-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    .hsl-select-stops {
      width: 95%;
      margin-top: 1em;
      padding: 1em;
      font-size: 1em;
      border-radius: 0.5em;
    }
    .hsl-card {
      width: 100%;
      height: 100%;
      padding: 1em 1em;
      border-radius: 0 0 0.5em 0.5em;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      div{
        align-items: center;
      }

      h3 {
        color: #2c82bb;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 1em;
      }
      h5 {
        font-size: 14px;
      }

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 1em;
      }

      div > p {
        display: flex;
      }
      div > time {
        
        display: flex;
        color: #2c82bb;
      }
    }
  }
}

.card-title {
  color: rgb(255, 123, 0);
}
