* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/foodPattern.jpg);
  background-size: 80em;
  position: absolute;
  z-index: -1;
}

h1 {
  margin: 4rem 0;
  font-size: 3em;
  color: rgb(255, 123, 0);
  background-color: rgb(252 254 251);
  box-shadow: 0 0 2rem #fcfefb;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.weekly-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: fit-content;
}

.daily-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.card-container {
  width: 100%;

  .card {
    height: fit-content;
    padding: 2em 1em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #00000035;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;

    p {
      margin-bottom: 0.5em;
    }
  }

  .daily-card {
    background-color: transparent;
    box-shadow: none;
    width: 70%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 2rem;
    padding: 2em;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 0.5em;
      font-size: 1.2em;
      width: 100%;
      height: 100%;
      background-color: white;
      box-shadow: 0 0 1em #00000035;
      padding: 1em;
      border-radius: 0.5em;
    }
  }

  .weekly-card {
    width: 90%;
  }
}

.card-title {
  color: rgb(255, 123, 0);
}
