body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.lunch-background {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/foodPattern.webp);
  background-size: 80em;
  position: absolute;
  z-index: -1;
}

.lunch-heading {
  margin: 4rem 0;
  font-size: 3em;
  color: rgb(255, 123, 0);
  background-color: rgb(252 254 251);
  box-shadow: 0 0 2rem #fcfefb;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.lunch-card-container {
  background-color: transparent;
  box-shadow: none;
  width: 70%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  gap: 2rem;
  padding: 2em;

  .lunch-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 1em #00000035;
    padding: 1em;
    border-radius: 0.5em;

    p {
      margin-bottom: 0.5em;
    }

    :first-child {
      font-weight: 600;
      font-style: bold;
    }

    div {
      font-size: 0.9em;
      display: flex;
      gap: 2em;

      :first-child {
        color: #4eab39;
      }
    }
  }
}

.card-title {
  color: rgb(255, 123, 0);
}
