@use 'base.scss';

#news-Bakcground {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/newsPattern.jpg);
  filter: brightness(0.95);
  background-size: 50em;
  position: absolute;
  z-index: -1;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
}

#news-header{
  color: base.$white;
  background-color:base.$yle-blue ;
  width: 100%;
  text-align: center;
  border-radius: 0;
}

.newsContainer{
  width: 35%;
  background-color: base.$white;
  border: 2px solid base.$yle-blue;
  box-shadow: 0 0 1em #00000035;
  border-radius:0.5em ;
  margin: 0.5em;
}
