@use 'base.scss';
@use 'lunch.scss';
@use 'hsl.scss';
@use 'news.scss';
@use 'slides.scss';
@use 'campus.scss';
@use 'custom.scss';

body{
  display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto-slab';
}
